body {
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:beige;
color: rgb(58, 26, 7);
}

.tittle {
    text-align: center;
    margin-bottom: 50px;
    font-size: 65px;
    padding: 8px 24px;
    font-weight: 900;
}

.recipes {
    font-style: italic;
    padding: 8px 24px;
    font-size: 24px;
}

